.contact-main-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

#p1{
    color: red;
    font-size: 1.4vw;
    font-weight: bold;
    padding-bottom: 1rem;
}

#p2{
    font-weight: 800;
    font-size: 3vw;
    padding-bottom: 2rem;
}

#p3{
    font-size: 2vw;
}



.input-div{
    display: flex;
    flex-direction: column;
    padding: 4rem;
    /* border: 2px solid black; */
    width: 100%;
}

.name-email-inp{
    margin: 2rem;
        /* border: 2px solid red; */
    width: 100%;
}
.first-two{
    width: 40%;
    height: 6vh;
    padding: 1rem;
    font-size: 18px;
    margin: 2vw;
}

.subj{
    width: 85%;
    height: 6vh;
    padding: 1rem;

    margin-left: 4.5vw;
    font-size: 18px;
    margin-bottom: 4vw;
}

.txtarea{
    width: 85%;
    margin-left: 4.5vw;
    font-size: 18px;
    padding: 1rem;

}

.check{
    /* border: 2px solid purple; */
    padding-left: 4rem;
    padding-top: 2rem;
    font-size: 1.4vw;
    padding-bottom: 2rem;
}

.check a{
    text-decoration: none;
    color: red;
}
#checkbox{
    border: transparent;
}

.send-btn{
    margin-left: 4.5vw;
    width: 85%;
    height: 7vh;
    /* padding: 1rem; */
    font-size: 15px;
    background: red;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 3px;
}