*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .nav-bar{
    width: 100%;
    display: flex;
    border-bottom: 2px solid white;
    justify-content: space-between;
    /* position: fixed; */
    background: transparent;
    padding: 1.5rem;
    /* position: sticky; */
    top: 0;
    z-index: 2;
    border: 2px solid red;
  }
  
  .right-nav{
    margin-top: 1.7rem;
    margin-right: 5rem;
    border: 2px solid white;
  }
  .right-nav li{
    list-style-type: none;
    display: inline;
    padding: 1.8rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: red;
  }
  
  .left-nav{
    width: 8rem;
    margin-left: 5rem;
    border: 2px solid green;
  }
  .left-nav img{
    width: 70%;
  }
  .left-nav h4{
    color: white;
  }

  #bars{
    font-size: 1.5rem;
    /* float: right; */
    display: none;
  }
  
  @media screen and (max-width: 1119px) {
    .nav-bar {
      background-color: white;
    }
    .left-nav h4{
      color: black;
    }
    .right-nav li{
      color: black;
    }
  }

  @media screen and (max-width: 971px) {
    #bars{
      display: inline;
      margin-left: 40rem;
    }  
    .nav-bar{
      flex-direction: column;
    }
    .left-nav{
      width: 100%;
    }
    .left-nav img{
      width: 10%;
    }
    .right-nav{
      transition: all .5s;
    }
    #bars:checked ~ .right-nav{
      left: 0;
    }
  }